---
# Ansible playbook для настройки уязвимостей на Linux сервере
# Поддерживаемые дистрибутивы: Ubuntu Server, Debian Server, CentOS, AlmaLinux

- name: Настройка уязвимостей на Linux сервере
  hosts: linux_server
  gather_facts: yes
  become: yes
  
  tasks:
    - name: Вывод информации о дистрибутиве
      ansible.builtin.debug:
        msg: "Обнаружен дистрибутив: {{ ansible_distribution }} {{ ansible_distribution_version }}"

    - name: Настроить пользователей/группы (Linux Server)
      ansible.builtin.import_role:
        name: accounts
      vars:
        accounts_groups: "{{ ((accounts_profiles | default({})).linux_server.groups | default([])) }}"
        accounts_users:  "{{ ((accounts_profiles | default({})).linux_server.users  | default([])) }}"

    - name: Присоединить Linux Server к домену AD
      ansible.builtin.import_role:
        name: ad_join
      vars:
        ad_join_enabled: "{{ (ad_join_profiles.linux_server | default(false)) | bool }}"

    - name: Применить профиль уязвимостей (Linux Server)
      ansible.builtin.import_role:
        name: vuln_linux
      vars:
        vuln_enabled: "{{ vuln_profiles.linux_server | default([]) }}"
