- name: Ensure pwquality config exists (weak requirements)
  ansible.builtin.blockinfile:
    path: /etc/security/pwquality.conf
    create: yes
    marker: "# {mark} VKR VULN"
    block: |
      minlen = 0
      dcredit = 0
      ucredit = 0
      lcredit = 0
      ocredit = 0
      maxrepeat = 0

- name: Try to weaken PAM common-password (Debian/Ubuntu)
  ansible.builtin.lineinfile:
    path: /etc/pam.d/common-password
    regexp: '^\s*password\s+requisite\s+pam_pwquality\.so.*$'
    line: 'password requisite pam_pwquality.so retry=3 minlen=0'
  when: ansible_os_family == "Debian"
  failed_when: false

- name: Weaken PAM pwquality (RHEL-family) - password-auth
  ansible.builtin.lineinfile:
    path: /etc/pam.d/password-auth
    regexp: '^\s*password\s+requisite\s+pam_pwquality\.so.*$'
    line: 'password    requisite     pam_pwquality.so retry=3 minlen=0'
  when: ansible_os_family == "RedHat"
  failed_when: false

- name: Weaken PAM pwquality (RHEL-family) - system-auth
  ansible.builtin.lineinfile:
    path: /etc/pam.d/system-auth
    regexp: '^\s*password\s+requisite\s+pam_pwquality\.so.*$'
    line: 'password    requisite     pam_pwquality.so retry=3 minlen=0'
  when: ansible_os_family == "RedHat"
  failed_when: false

