---
# Ansible роль: Настройка веб-сервера с уязвимостями ОС

- name: Установка Apache
  apt:
    name:
      - apache2
    state: present
    update_cache: yes
  become: yes

- name: Включение модулей Apache
  command: a2enmod {{ item }}
  loop:
    - cgi
    - rewrite
  become: yes
  notify: restart apache

- name: Настройка небезопасной конфигурации Apache
  lineinfile:
    path: /etc/apache2/apache2.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
    backup: yes
  loop:
    - { regexp: "^ServerTokens", line: "ServerTokens Full" }
    - { regexp: "^ServerSignature", line: "ServerSignature On" }
  become: yes
  notify: restart apache

- name: Открытие портов в брандмауэре (намеренно небезопасно)
  ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop:
    - "80"
    - "443"
    - "8080"
  become: yes
  ignore_errors: yes

- name: Запуск и включение Apache
  systemd:
    name: apache2
    state: started
    enabled: yes
  become: yes

- name: Отключение автоматических обновлений безопасности
  lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: "^Unattended-Upgrade::Automatic-Reboot"
    line: "Unattended-Upgrade::Automatic-Reboot \"false\";"
    insertafter: "^//Unattended-Upgrade::Automatic-Reboot"
  become: yes
  ignore_errors: yes

- name: Отключение автоматических обновлений
  file:
    path: /etc/apt/apt.conf.d/20auto-upgrades
    state: absent
  become: yes
  ignore_errors: yes

- name: Создание информационного файла об уязвимостях ОС
  copy:
    content: |
      # Уязвимости операционной системы
      
      Этот сервер настроен с уязвимостями ОС для обучения:
      
      1. Отключены автоматические обновления безопасности
      2. Небезопасная конфигурация Apache (раскрытие версии)
      3. Открытые порты без фильтрации
      4. Устаревшие версии пакетов ОС
      
      Для тестирования:
      - Проверка версии Apache: curl -I http://localhost
      - Проверка обновлений: apt list --upgradable
      - Проверка открытых портов: netstat -tulpn
    dest: /var/www/html/VULNERABILITY_INFO.txt
    mode: '0644'
  become: yes

