# Пример var-file для Windows Server 2022 (НЕсекретный)
iso_file        = "local:iso/WindowsServer_2022_unattend.iso"
virtio_iso_file = "local:iso/virtio-win-0.1.285.iso"

vm_name   = "windows-server-2022-template"
vm_id     = 9222
cpu_cores = 2
memory    = 4096
disk_size = "80G"

windows_edition = "Windows Server 2022 Standard"

