#cloud-config
hostname: ${hostname}
fqdn: ${fqdn}.${domain}
manage_etc_hosts: true

users:
  - name: ubuntu
    groups: sudo
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    ssh_authorized_keys:
      - ${ssh_key}

package_update: true
package_upgrade: false

%{ if use_static_ip }
network:
  version: 2
  ethernets:
    eth0:
      dhcp4: false
      addresses:
        - ${ip_address}/24
      gateway4: ${gateway}
      nameservers:
        addresses: ${jsonencode(dns_servers)}
%{ else }
network:
  version: 2
  ethernets:
    eth0:
      dhcp4: true
%{ endif }

write_files:
  - path: /etc/hosts
    content: |
      127.0.0.1 localhost
      %{ if ip_address != "" }
      ${ip_address} ${fqdn} ${hostname}
      %{ endif }

